<div class="header">
    <button [disabled]="!history.canGoBack" (click)="history.undo(board)">Undo</button>
    <button [disabled]="!history.canGoForward" (click)="history.redo(board)">Redo</button>
    <label> {{possibleCombinationsCount}} {{getPossibleCombinations()}}</label>
</div>
<div class="board">
    <div *ngFor="let number of board; let index = index" class="cell" (click)="onCellClick(index)" [style.width.%]="100 / boardWidth" [class.selected]="index == selectedIndex" [class.cleared]="number === null">{{number}}</div>
</div>