<header class="button-list">
	<button [disabled]="!history.canGoBack" (click)="undo()">Undo</button>
	<button [disabled]="!history.canGoForward" (click)="redo()">Redo</button>
	<span class="button-group-divider"></span>
	<button (click)="restart()">Restart</button>
</header>

<app-rules></app-rules>

<div class="board" [style.width.px]="boardCleared ? 350 : 40 * (columnCount - clearedColumns.length) + 2">
	<div *ngFor="let number of board; let index = index" class="cell" (click)="onCellClick(index)"
		[class.selected]="index == selectedIndex" [class.cleared]="number === null" [class.hint]="hint.includes(index)"
		[class.cleared-column]="clearedColumns.includes(index % initalColumnCount)">{{number}}</div>
	<div *ngIf="boardCleared" class="victory-message">
		<h1>Congratulations</h1>
		<h2>You won!</h2>
		<button (click)="restart()">Restart</button>
	</div>
</div>

<app-stats-pane [numbers]="numbers" [board]="board" [possibleCombinationsCount]="possibleCombinationsCount">
</app-stats-pane>
<footer class="button-list">
	<button (click)="showHint()">Hint ({{possibleCombinationsCount}})</button>
	<span class="button-group-divider"></span>
	<button (click)="fill()">Fill</button>
</footer>