:host {
    align-items: center;
    flex-direction: column;
    display: grid;
    grid-template-columns: 350px 50px;
    grid-template-rows: 50px max-content;
    grid-column-gap: 10px;
    place-items: center;
    grid-template-areas:
        "header ."
        "board stats";
    place-content: center;
}

.header {
    grid-area: header;
    margin-bottom: 5px;
	position: sticky;
	top: 5px;
    padding: 5px;
    background-color: white;
}

.board {
    grid-area: board;
    border: 1px solid lightgray;
    display: flex;
    min-height: 0px;
    flex-wrap: wrap;

    .cell {
        padding: 10px;
        cursor: pointer;
        text-align: center;
        height: 40px;
        width: 40px;

        &.selected {
            background: lightsteelblue;
        }

        &.cleared {
            cursor: default;
            pointer-events: none;
            height: 0px;
            padding: 0;
        }

        &.cleared-column {
            padding: 0;
            width: 5px;
            flex: 0 0 0px;
        }

        &.hint {
            background: lightyellow;
        }
    }
}

app-stats-pane {
    grid-area: stats;
    align-self: start;
    justify-self: start;
    position: sticky;
    top: 50px;
}

.victory-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 20px;
}